
<div id="imgSpot" class="imgSpot">

</div>


{{!-- id and answer needs to change to something else eventually --}}

<form id="guessing">
  <button id="answer" data-id="{{ id }}">{{ answer }}</button>
  <button id="answer_1" data-id="{{ id }}">{{ answer }}</button>
  <button id="answer_2" data-id="{{ id }}">{{ answer }}</button>
  <button id="answer_3" data-id="{{ id }}">{{ answer }}</button>
</form>















