{{!-- do i need to link this in HTML? --}}

<header>

<h1>People Peephole!</h1>

  <div id="scoreBoard">
    <h2>High Scores</h2>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</header>


<div id="pics">
  <h3>New Pictures</h3>
</div>

{{#each image}}
<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="{{image}}">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Have a guess at what this is?</span>
    <p>Click the image to try.</p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Take your pick...</span>
      <button id="guess" class="answer true">{{answer}}</button>
      <button id="guess" class="answer_1">{{answer_1}}</button>
      <button id="guess" class="answer_2">{{answer_2}}</button>
      <button id="guess" class="answer_3">{{answer_3}}</button>
  </div>
</div>
{{/each}}


{{!-- {{#each image}}
  <div id="addPost">
    <a href="#" data-id="{{id}}"><img src="{{image}}"></a>
  </div>
{{/each}} --}}

</div>
<form id="addNewPic">

<button><a href="/#submit">+ Add a Pic</a></button>

</form>
